$main-bg-c: #FFFEFA;
$primary-c: #22A39F;
$backdrop-c: #22313f;

$font-c: #000;
$sub-txt-c: #175783;

$border-c: #C7C9C9;
$white-c: #fff; // just in case we want to dull down the white 

$link-c: #22A39F;
$link-c-h: #1c8683;
$link-c-d: #B9BAB8;