/* showcase */
.showcase{
    padding-top: 0px;
    margin-top: 0px;
    width: 100%;
    background-image: url("/images/showcase.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;

    img {
      display: block;
      width: 100%;
      height: auto;
      margin :auto;
      visibility: hidden;
    }
}